[submodule "lib/DirectX-Headers"]
	path = lib/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "lib/tinygltf"]
	path = lib/tinygltf
	url = https://github.com/syoyo/tinygltf
